body {
    text-align: center;
    background-color: lightgray;
    box-sizing: border-box;
}

canvas {
	border: 3px solid purple;
}

canvas, .display {
	display: inline-block;
}

/*TEMPORARY DISPLAY CSS*/
.display {
	width: 175px;
	border: 3px solid blue;
}

.display ul {
	list-style: none;
	padding-left: 2px;
}
.display li {
	text-align: left;
	margin: 2px;
	border: 3px solid green;
}